@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

th {
	border: 1px solid black;
}
tr {
	border: 1px solid black;
}

.btn-primary {
	background-color: #38e49c;
	border-color: #27684d;
	color: #000;
}

/* GENERAL TEXT STYLES */
.text-uppercase {
	color: #f1f1f1;
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
}
.text-lowercase {
	color: #f7f7f7;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 300;
	text-transform: lowercase;
	text-decoration: none;
}

.optional-text {
	font-size: 20px;
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-weight: 300; */
}
.wrapper-form{
	background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
	
	position: absolute;
	/* top: 50%; */
	left: 0;
	width: 100%;
	height: 100%;
	/* margin-top: -200px; */
	overflow: hidden;
}

.form {
	width: 50%;
}
.form label {
	display: none;
}
.helptext {
	display: none;
}
.form br {
	display: none;
}
.container > h1 {
	text-align: center;
	color: #f1f1f1;
	font-family: 'Exo', sans-serif;

}
.form-register__container {
	display: flex;
	align-items: center;
    justify-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
	margin-top: 15%;
}

.form input:hover{
	background-color: #53e3a6;
}
.form button{
	display: flex;
	color: #000000;	
	background: #fff;
	border: 1px solid #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
	transition-duration: 0.25s;
}
.form button:hover{
	background: #53e3a6;
}

.form input[type='submit']{
	display: flex;
	color: #000000;	
	background: #fff;
	border: 1px solid #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
	transition-duration: 0.25s;
}
.form input[type='submit']:hover{
	background: #53e3a6;
}

.text-h1 {
	font-size: 28px;
}

/* REGISTER FORM */
.btn-abs-reg {
	position: absolute;
    top: calc(67%);
    left: calc(50% - 85px);
}

.form-register p span{
	display: none;
}
.form-register p label{
	align-items: flex-start;
}
.wrapper-link {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-link p a {
	text-decoration: none;
	color: #f1f1f1;
	font-family: 'Exo', sans-serif;
    text-align: center;
    font-size: 25px;
	font-weight: 400;
}

/* WORKSPACE STYLES */
.navbar__text {
	color:#000000;
}
.ws-header__text {
	color: #ffffff!important;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}
.content-ws{
	background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
	width: 100%;
	height: 100%;
}
.header-ws {
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 58px;
	/* background: linear-gradient(180deg, #1A6A6A 0%, #259595 81.12%), #489298; */
}
.footer-ws {
	position: absolute;
	bottom: 0%;
	width: 100%;
	height: 100px;
	background-color: dimgray;
	/* background: linear-gradient(180deg, #161616 0%, #747474 81.12%), #489298; */
}

.navbar {
    transition: all 0.4s;
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
	top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar>.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: wrap;
	flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.container {
	width: 100%;
	padding: 10px 15px 10px 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-nav {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: wrap;
	flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    /* justify-content: ; */
}

.nav-item {
	padding: 0 15px 0 0;
}

