{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
    <div class="wrapper-form wrapper-edit">
        <div class="container form-register__container">
            <h1 class = 'text-uppercase text-h1'>Edit your account</h1>
            <form class = 'form' action="." method="post" enctype="multipart/form-data">
                {{ user_form }}
                {{ profile_form }}
                {{ worker_form }}
                {% csrf_token %}
                <p><input type="submit" value="Save changes"></p>
            </form>
        </div>
    </div>
{% endblock %}