{% extends "base.html" %}

{% block title %}Save your biometrics{% endblock %}

{% block content %}
<div class="wrapper-register-bio container">
    <div class="video-boundary__box container">
        <img src="{% url 'video_stream:cam_capture' %}">
    </div>
    <h1 class='text-uppercase'>Welcome {{ new_user.first_name }}!</h1>

    <form method="post" class="form-register-bio">
        {% csrf_token %}
        <p><input type="submit" value="Save biometric"></p>
    </form>
    </div>




    <!-- <h1>Welcome {{ new_user.first_name }}!</h1> -->
    <!-- <p>Your account has been successfully created. Now you can <a href="{% url "login" %}">log in</a>.</p> -->
{% endblock %}