{% extends "base-ws.html" %}
{% block title %}Workspace{% endblock %}
{% load static %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Modal body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

    <div class="container">
            <form method = 'post', enctype = 'multipart/form-data'>
            <div class = 'row'>
            {% csrf_token %}
                <div class = 'col-3'>
                    <p class='text-start mb-2 text-lowercase'>Выбор объекта</p>
                </div>
                <div class = 'col-6'>
                    <select class="form-select form-select-lg" aria-label="Default select example">
                        <option selected>МИК1</option>
                        <option value="1">МИК2</option>
                        <option value="2">МИК3</option>
                        <option value="3">Объект1</option>
                    </select>
                </div>
            </div>
            </form>
        <div class = 'row'>
            <div class = 'col'>
                <div class="container">
                    <img class = 'container' src="{% static 'images/stk1.jpg' %}">
                </div>
            </div>
            <div class = 'col'>
                <div class="container">
                    <img class = 'container' src="{% static 'images/stk.jpg' %}">
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col'>
                <div class="container">
                    <img class = 'container' src="{% static 'images/stk3.jpg' %}">
                </div>
            </div>
            <div class = 'col'>
                <div class="container">
                    <img class = 'container' src="{% static 'images/stk2.jpg' %}">
                </div>
            </div>
        </div>
        {% comment %} <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button> {% endcomment %}
    </div>



{% endblock %}